*{
    zoom: 0.63;
}
canvas{
    margin-top:30px;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    zoom: 1; 
}
body{
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    zoom: 1;
}