body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    cursor: pointer;
}

.full-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.full-image {
    max-width: 10%;
    max-height: 10%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
